/* Write your global styles here, in PostCSS syntax */
@import 'https://fonts.googleapis.com/css?family=IBM%20Plex%20Mono';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'IBM Plex Mono';
  color: white;
}

.hidden-element {
  opacity: 0;
  color: transparent;
  transition:
    opacity 0.3s ease,
    color 0.3s ease;
}

.hidden-element:hover {
  opacity: 1;
  color: inherit;
}
