/* Write your global styles here, in PostCSS syntax */
@import 'https://fonts.googleapis.com/css?family=IBM%20Plex%20Mono';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: 'IBM Plex Mono';
	color: white;
}
